body {
    background-color: rgb(18, 32, 43);
    color: white;
}
.cinta {
    background-color: rgb(74, 127, 173);
    width: 100%;
    height: 50px;
    color: rgb(9, 16, 22);
    line-height: 50px;
}
.cinta p {
    font-size: 30px;
    margin-left: 80px;
    font-weight: bolder;
}
.redesIcon {
    float: right;
    line-height: 50px;
    margin-right: 10px;
}
.redesIcon:hover {
    cursor: pointer;
    color: rgb(32, 57, 80);
}
.contacto {
    float: right;
    font-size: 22px;
    margin-right: 15px;
    font-style: normal;
}